@charset "UTF-8";
@font-face {
  font-family: "basictitlefont";
  src: url("material/basictitlefont.ttf");
}

@font-face {
  font-family: "Wingdings2";
  src: url("material/Wingdings2.ttf");
}

@font-face {
  font-family: "Nagomi";
  src: url("material/Nagomi.ttf");
}

.image_carousel {
  width: 100vw;
  height: 600px;
  margin-top: 200px;
  overflow: hidden;
  position: relative;
}

.image_carousel .carousel_1 {
  width: calc(100vw / 4);
  float: left;
}

.image_carousel .carousel_1 img {
  display: block;
  width: calc(100vw / 4);
  height: calc(100vw / 4 * 1.227);
  -o-object-fit: cover;
  object-fit: cover;
  padding: 5px 0;
}

.image_carousel .carousel_1 img:nth-child(1) {
  position: relative;
  top: 100vh;
  animation: up 10s linear 0s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_1 img:nth-child(2) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 3.54s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_1 img:nth-child(3) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 7.08s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_1 img:nth-child(4) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 10.62s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_2 {
  width: calc(100vw / 4);
  float: left;
}

.image_carousel .carousel_2 img {
  display: block;
  width: calc(100vw / 4);
  height: calc(100vw / 4 * 1.227);
  -o-object-fit: cover;
  object-fit: cover;
  padding: 5px 0;
}

.image_carousel .carousel_2 img:nth-child(1) {
  position: relative;
  top: 100vh;
  animation: up 10s linear 0s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_2 img:nth-child(2) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 3.54s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_2 img:nth-child(3) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 7.08s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_2 img:nth-child(4) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 10.62s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_3 {
  width: calc(100vw / 4);
  float: left;
}

.image_carousel .carousel_3 img {
  display: block;
  width: calc(100vw / 4);
  height: calc(100vw / 4 * 1.227);
  -o-object-fit: cover;
  object-fit: cover;
  padding: 5px 0;
}

.image_carousel .carousel_3 img:nth-child(1) {
  position: relative;
  top: 100vh;
  animation: up 10s linear 0s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_3 img:nth-child(2) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 3.54s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_3 img:nth-child(3) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 7.08s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_3 img:nth-child(4) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 10.62s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_4 {
  width: calc(100vw / 4);
  float: left;
}

.image_carousel .carousel_4 img {
  display: block;
  width: calc(100vw / 4);
  height: calc(100vw / 4 * 1.227);
  -o-object-fit: cover;
  object-fit: cover;
  padding: 5px 0;
}

.image_carousel .carousel_4 img:nth-child(1) {
  position: relative;
  top: 100vh;
  animation: up 10s linear 0s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_4 img:nth-child(2) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 3.54s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_4 img:nth-child(3) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 7.08s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

.image_carousel .carousel_4 img:nth-child(4) {
  position: absolute;
  top: 100vh;
  animation: up 10s linear 10.62s infinite;
  /*ただしこれは横幅が1440pxの時に限り有効になる*/
}

@keyframes up {
  0% {
    top: 100vh;
  }
  100% {
    top: calc(100vw / 4 * 1.227 * -1);
  }
}
