@import "_variable.scss";
$column:4;
$row:4;
.image_carousel{
  width: 100vw;
  height: 500px;
  margin-top: 200px;
  overflow: hidden;
  position: relative;
  @for $i from 1 through $column{
    .carousel_#{$i}{
      width: calc(100vw / #{$column} );
      float: left;


      img{
        display: block;
        width: calc(100vw / #{$column});
        height: calc(100vw / #{$column} * 1.227);
        -o-object-fit: cover;
        object-fit: cover;
        padding: 5px 0;


        @for $top from 1 through $row{
          &:nth-child(#{$top}){
            @if $top == 1{
              position: relative;
            }@else{
              position: absolute;
            }

            top:100vh;
            $deray:3.54;

            animation: up 10s linear #{$top * $deray - $deray}s infinite;/*ただしこれは横幅が1440pxの時に限り有効になる*/


        }
      }
    }
  }
}
}

@keyframes up{
  0%{
    top: 100vh;
  }
  100%{
    top: calc(100vw / #{$column} * 1.227 * -1);
  }
}
