//output:index.html
doctype html
html
  
  head
    meta(lang="en" dir="ltf")
    title テンプレート
    link(rel="stylesheet" href="stylesheet/style.css")
    link(rel="stylesheet" href="stylesheet/reset.css")
    script(type="text/javascript" src="jquery-3.3.1.min.js")
    script(type="text/javascript" src="script.js")

  body
    div.svg_wrap
      include material/sikaku.svg
    
